.background-image {
    background: url(../images/windmills-orange.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30rem;
}

.background-image-worldmap {
    background: url(../images/worldmap-influence.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30rem;
}

.text-image {
    color: #000000;
}